body{background-color: #F4F4F4;}
html,body{width: 100%;height: 100%;}
.wrapper{
  position: absolute;width: 100%;top: 0;bottom: 0.95rem;height: auto;
  overflow: auto;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.top{
  height: 5.4rem;position: relative;
      background: #fff;
    margin-bottom: .2rem;
}
.top img{
  display: block;width: 100%;height: 100%;
}
.top .userBox{
  width: 1.14rem;height: 1.14rem;position: absolute;
  border-radius: 50%;top: 1.94rem;left: 13%;margin-left: -0.57rem;
}
.userBox img{display: block;width: 100%;height: 100%;}
.top .userName{
    height: 0.36rem;width: 100%;text-align: center;color: #FFF;font-weight: 600;
    position: absolute;top: 2rem;
    font-size: 0.36rem;line-height: 0.36rem;
    color: #333;

}
.top .topBar{
    height: 1rem;width: 100%;
    position: absolute;left: 0; 
    top: 0.5rem;
    display: flex;
    z-index: 999;

}
.topBar .setup{
    width: 0.44rem;height: 100%;float: left;margin-left: 0.24rem;
}
.setup img{
    display: block;width: 0.44rem;height: 0.42rem;
    margin: 0.09rem auto;
}
.topBar .message{
    width: 0.9rem;height: 100%;float: right;position: relative;
}
.message img{
    width: 0.48rem;height: 0.48rem;margin: 0.06rem 0rem;
}
.message .msg{
    height: 0.24rem;background: #FF2764;padding: 0rem 0.08rem;
    font-size: 0.16rem;line-height: 0.3rem;color: #FFF;position: absolute;top: 0;left: 0.16rem;
    border-radius: 0.12rem;
}
.listBox{
    border-top: 1px solid #E4E4E4;border-bottom: 1px solid #E4E4E4;margin-bottom: 0.19rem;background: #FFF;
}
.listBox .list{
    height: 0.98rem;font-size: 0.32rem;color: #333;position: relative;border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
}
.listBox .list:first-child{border-top: 0;}
.list .listInfo{
    margin: 0rem 1rem 0rem 0.9rem;height: 100%;line-height: 0.98rem;
}
.list .listIcon{
    width: 0.9rem;height: 100%;position: absolute;top: 0;left: 0;
}
.listIcon img{ display: block;width: 0.3rem;height: 0.3rem;margin: 0.34rem 0rem 0rem 0.35rem; }
.listButton{
    width: 0.98rem;height: 100%;position: absolute;top: 0;right: 0;
}
.listButton img{
    width: 0.17rem;height: 0.32rem;display: block;margin: 0.33rem 0.45rem 0rem 0.36rem;
}

.bottomBar{
  position: fixed;z-index: 999;left: 0;bottom: 0;
  width: 100%;height: 0.95rem;font-size: 0.2rem;
  background: #FFF;
}
.barIcon{
  height: 0.56rem;
}
.barIcon img{
  width: 0.34rem;height: 0.34rem;display: block;margin: 0rem auto;
  position: relative;top: 0.13rem;
}
.barName{
  height: 0.39rem;line-height: 0.39rem;text-align: center;
}
.col_cur .barName{color: #FA004B;}
.ui-col a .barName{
    color: #333;
}

.score{
  padding-left: 1.8rem;text-align: left;padding-bottom: .2rem;
}

.bn{}
.topFlex{
  display: flex;
  position: relative;
  height: 100%;
  padding-top: 2rem;
}
.cards{
  display: flex;
  font-size: .28rem;
   margin-top: 1.2rem;
   width: 100%;
}
.cleft{
  width: 50%;
  text-align: center;
}
.cleft,.cright{
  padding-top: .28rem;
}
.cleft div{
  
  text-align: center;
}
.cleft img {
    width: .68rem;
    height: .64rem;
    display: inline;
}
.cright div{
  
  text-align: center;
}
.cright img {
   width: 1.68rem;
   height: .64rem;
    display: inline;
}
.cright{
  width: 50%;
  text-align: center;
}
.text{
  padding-top: .14rem;
  color: #666;
}
.cright .text{
    text-align: left;
    padding-left: .5rem;
}
.sname{
  font-size: .32rem;
  font-weight: 900;
  color: #333;
}
.middleText{
      width: 5.5rem;
    font-size: .36rem;
    text-align: center;
}
.score{
  font-size: .28rem;
  color: #333;  
}
.modol{
     position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imgdiv{
  text-align: center;
}
.imgdiv img{
  height: 3.25rem;
}
.imgdiv p{
  font-size: .3rem;
  color: #333;
}
.modolContent{
         position: relative;
    padding-top: .4rem;
    width: 5rem;
    height: auto;
    padding-bottom: .7rem;
    background: #fff;
    padding-left: .1rem;
    padding-right: .1rem;
    border-radius: .1rem;
}
.buttons{
  text-align: center;
  padding-top: .4rem;
}
.makesure{
  margin-right: .2rem;
  background: #ff5185;
  color:#fff;
}
.content{
  font-size: .24rem;
  color: #999;
  padding-left: .4rem;
  padding-right: .4rem;
}
.buttons{
      height: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: .4rem;
    padding-right: .4rem;
    align-items: center;
    box-sizing: border-box;
}
.textcenter input{
  text-align: center;
}
.buttons button{
  width: 1.5rem;
  height: .5rem;
  font-size: .24rem;
}
.modoscore{
  padding-bottom: .48rem;
  height: auto;
}
.cance{
  background: #ccc;
}
.hide{
  display: none;
}
.modolTitle{
    font-weight: 900;
    padding-bottom: .1rem;
}
.messagedec{
    color:#ff4f89;
    font-size: .22rem;
     text-align: center;
}
.redlinebg{
  background: -webkit-linear-gradient(#ff4598, #ff5185); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ff4598, #ff5185); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ff4598, #ff5185); /* Firefox 3.6 - 15 */
  background: linear-gradient(#ff4598, #ff5185); /* 标准的语法 */
}
.blueLine{
    color: #fff;
    background: -webkit-linear-gradient(#ca6eff, #b637ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ca6eff, #b637ff); 
    background: -moz-linear-gradient(#ca6eff, #b637ff); 
    background: linear-gradient(#ca6eff, #b637ff);   }
.textcenter{
  text-align: center;
}
.pnum{
  padding-top: .48rem;
  text-align: center;
}
.closeX{
  color: #ccc;
  font-size: .4rem;
}
.textcenter input{
  border:none;
  border-bottom: 1px solid #eee;
  width: 4rem;
  padding: .2rem;
}
#score{
  color: #fff;
  width: 1.57rem;
}
#scoreLost{
      color: #ff4646;
    font-size: .2rem;
    position: absolute;
    right: .65rem;
    bottom: .3rem;
}
.disabled{
  background: #ccc;
}
#scorese{
  color: #fff;
}
#cancebuy{
  color: #fff;
}
.closeX{
    position:absolute;
    top: .1rem;
    right: .2rem;
    font-size: .4rem;
}
.messagedec{
  padding-top: .14rem;
  padding-bottom: .39rem;
}
#clsespan{
  font-size: .4rem;
}

 
