body{background-color: #FFF;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.titleInfo{
    font-size: 0.48rem;color: #333;margin: 2.5rem 0.24rem 0.54rem;
}
.tips{
    font-size: 0.3rem;color: #999;
    margin: 0rem 0.24rem 0.76rem;
}
.device{
    margin: 0rem 0.24rem 0.35rem;font-size: 0.26rem;color: #333;
}
.phoneBox{
    height: 0.65rem;position: relative;margin: 0rem 0.24rem 1.75rem;
    font-size: 0.48rem;line-height: 0.48rem;
}
.circle{
    position: absolute;width: 0.64rem;height: 0.64rem;
    top: 0;right: 0;border-radius: 50%;
    font-size: 0.48rem;line-height: 0.64rem;text-align: center;
    background-color: #D1D1D1;color: #FFF;
}
.circle2{display: none;font-size: 0.66rem;color: #D81E06;background-color: #FFF;}

.prefix{
    position: absolute;height: 0.64rem;color: #999;border-bottom: 1px solid #999;
    top: 0;left: 0;  font-size: 0.48rem;line-height: 0.64rem;text-align: center;
}
.phone{
    height: 0.65rem;margin: 0rem 0.9rem 0rem 0rem;
    font-size: 0.48rem;line-height: 0.64rem;
}
.phone input{
       width: 100%;
    border: 0;
    height: 0.64rem;
    color: #333;
    display: block;
    text-align: center;
    text-indent: 0.08rem;
    border-bottom: 1px solid #FA004B;
    position: absolute;
    /* height: .5rem; */
    left: 0;
}
.phone .ui-whitespace{
    padding: 0;
    margin-left: -.2rem;
}



.boxActive .circle{
    background-color: #FA004B;
}
.boxActive .circle2{
    background-color: #FFF;
}
.boxActive .phone{
    /*border-bottom: 1px solid #FA004B;*/
}
.other{margin: 0rem 0.9rem 0rem 1.08rem;}

.error{
    font-size: 0.24rem;color: #999;margin-left: 0.24rem;
}
.error .again{
    font-weight: bold;
}

.back{
    width: 0.64rem;height: 0.64rem;line-height: 0.64rem;text-align: center;
    position: absolute;top: 0rem;left: 0rem;font-size: 0.48rem;
}


.security-code-wrap {
    overflow: hidden;
  }
 
  .security-code-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    .field-wrap {
      list-style: none;
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      background-color: #fff;
      margin: 2px;
      color: #000;
      .char-field {
        font-style: normal;
      }
    }
  }
 
  .input-code {
    position: absolute;
    left: -9999px;
    top: -99999px;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: visible;
    z-index: -1;
  }
.security-code-wrap{
        width: 100%;
    position: absolute;
    left: 0;
}
.number{
    border-bottom: 1px solid #FA004B;
    margin-left: .3rem;

}
.ui-row-flex .ui-col{
    width: 16.66666%;
    text-align: center;
        height: .6rem;
}
.inputLabel{
    width: 7.5rem;
    height: 1rem;
}