body{background-color: #fff;}
html,body{width: 100%;height: 100%;}
*{
    box-sizing: border-box;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.head{
    width: 100%;height: 1.44rem;padding-top: 0.49rem;line-height: 0.98rem;text-align: center;
    color: #FFF;position: relative;background: #FF4C8E;margin-bottom: 0.2rem;
    z-index: 99999;
}
.headTitle{
    margin: 0rem 0.98rem;height: 100%;font-size: 0.3rem;
}
.back{
    width: 0.98rem;height: 100%;font-size: 0.3rem;left: 0;top: 0.49rem;
    position: absolute;text-align: left;text-indent: 0.24rem;font-size: 0.4rem;
}
.picBox{
    padding: 0.2rem 0rem;background: #FFF;border-top: 1px solid #E7E7E7;
}
.picBox:after{
    display: block;height: 0;content: '';clear: both;
}
.list{
    width: 2.9rem;padding-top: 2.9rem;
    float: left;position: relative;margin-bottom: 0.3rem;
}
.list img{
    display: block;width: 2.9rem;height: 2.9rem;
    top: 0rem;border-radius: 8px;
    position: absolute;
}
.picBox .list:nth-child(odd){
    margin-left: 0.44rem
}
.picBox .list:nth-child(even){
    margin-right: 0.44rem;float: right;
}
.choose{
    width: 0.3rem;height: 0.3rem;position: absolute;top: 0.12rem;right: 0.12rem;
    border-radius: 50%;overflow: hidden;
}

.choose img{
    display: block;width: 100%;height: 100%;
}

/*card 样式*/

.conItem{
    display: flex;
    padding:.33rem 0 .26rem .24rem;
    margin-left: .24rem;
    margin-right: .24rem;
    border: 1px solid #e4e4e4;
    border-radius: .12rem;
    background: #fff;
}
.imgleft{
    padding-right:.24rem;
}
.leftImg{
    width: 1.5rem;
    height: 1.5rem;

}
.righttext{
    padding-top: .2rem;
}
.righttext p{
    font-size: .3rem;
    flex: 1;
    width:4.2rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    flex:1;
}
.righttext{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: .2rem;
}
.cancezan{
    width: 1.44rem;
    line-height: .5rem;
    color: #999;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    right: .1rem;
    position: absolute;
}
.guige{

    font-size: .3rem;
    line-height:.4rem;
}
.price{
    height: .7rem;
    line-height: .8rem;
    color: #fe366a;
    position: relative;
    padding-top: .1rem;
}
.conItem{
    margin-top: .2rem;
}
body{
    background: #eee;
}
.hide{
    display: none;
}
._v-content{
    margin-top: 1rem;
    padding-bottom: .8rem;
}
.title{
    display: flex;
    position: relative;
}
.imgDiv{
    width: .3rem;
    height: .3rem;
}
.imgDiv img{
    max-width: 100%;
}
.avatimg{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin-right: .1rem;

}
.title div{
   font-size: .3rem;
}
.righttext p.pname{
    width: 2.2rem;
}
.title div.comment{
    font-size: .22rem;
    width: 1.2rem;
    text-align: center;
    color: #999;
}
.title div.date{
    font-size: .22rem;
    color: #999;
}
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;

}
.bottom input{
    padding: .2rem;
    box-sizing: border-box;
    width: 92%;
    font-size: .36rem;
    margin-left: 4%;
}
.redCircle{
    position: absolute;
    background: red;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
     right: .01rem;
    top: -.4rem;
}


