.top{
  padding-top: 0.49rem;background-color: #FF4F89;
}
.head{
   position: relative;
}
.title{
    margin: 0rem 0.98rem;height: 100%;line-height: 0.98rem;font-size: 0.32rem;color: #FFF;text-align: center;
}
.head .left{
    width: 0.98rem;height: 59%;position: absolute;top: 0;left: 0;
    font-size: 0.32rem;color: #fff;line-height: 0.98rem;
    text-indent: 0.26rem;
}
.head .right{
    width: 0.98rem;height: 100%;position: absolute;top: 0;right: 0;
    font-size: 0.24rem;color: #fff;line-height: 0.98rem;
    text-indent: 0.24rem;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.headerList{
     display: flex;
     background: #ff4a8c;
     font-size: 0.28rem;
     color: #fff;


 }
.headerList li{
  width: 25%;
 height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;

}

/*头部样式*/
.itemtitle{
    font-size: 0.24rem;
    height: .58rem;
    line-height: .51rem;
    padding-left: .24rem;
    margin-top: .2rem;
    background: #f9f9f9;
}
.active{
    font-size: 0.35rem;
    font-weight: 900;
}
.card{
    padding-left: .24rem;
    display: flex;
    padding-bottom: .24rem;
    border-bottom: 1px solid #ccc;
    background: #ffffff;
    padding-top: .2rem;
    height: 1.4rem;
}
.shopimg{
    width: 1.5rem;
    height: 1.45rem;
}
.cardTitle{
    font-size: .28rem;
    color: #333;
    padding-left: .12rem;
    line-height: .34rem;
    height:.68rem;
}
.priceline{
    display: flex;
}
.success{
    font-size: .24rem;
    width: 1.2rem;
    height: .4rem;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 0.05rem;
    line-height: .4rem;
    color: #999;
}
.delete{
    font-size: .24rem;
    margin-left: .20rem;
    width: 1.2rem;
    height: .4rem;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 0.10rem;
    line-height: .4rem;
    color: #999;
}
.price{
    font-size: .28rem;
    padding-left: 0.2rem;
    color: #000;
}
.butright{
    flex: 1;
    flex-direction: row-reverse;
    text-align: right;
    padding-right: .24rem;
    display: flex;
}
.priceline{
    margin-top: 0.4rem;
}
.topay{
    background: #ff4a94;
    color: #fff;
}
#tab2,#tab3,#tab4{
    display: none;
}
.orderItem{
    background: #fff;

}
.butright{
       font-size: .26rem;
    color: #ccc;
}
.bottomRight{
    flex: none;
    margin-left: .2rem;
}
.bottomLine{
    padding-bottom: .2rem;
    margin-top: .25rem;
    justify-content: flex-end;
}
.price span{
    color: #fe366a;
}