body{background-color: #FCFCFC;}
html,body{width: 100%;height: 100%;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.head{
    width: 100%;height: 0.98rem;padding-top: 0.49rem;line-height: 0.98rem;text-align: center;
    color: #FFF;position: relative;background: #FF4C8E;
}
.headTitle{
    margin: 0rem 0.98rem;height: 100%;font-size: 0.3rem;
}
.back{
    width: 0.98rem;height: 100%;font-size: 0.3rem;left: 0;top: 0.49rem;
    position: absolute;text-align: left;text-indent: 0.24rem;font-size: 0.4rem;
}
.listBtn{
    font-size: 0.3rem;height: 0.76rem;line-height: 0.76rem;text-align: center;color: #666;
    border: 1px solid #F1F1F1;margin: 0.4rem 0.24rem 0rem;border-radius: 0.08rem;
    box-shadow: 0rem 0.12rem #f1e1e6;background: #FFF;
}
.cur{
    color: #FF4F89;
}
.timeLine{
    padding: 0.38rem 0rem;background: #FFF;
}

.line{
    margin: 0rem 0.24rem 0rem 0.44rem;border-left: 0.03rem solid #999;
    position: relative;min-height: 0.41rem;
}
.current{
    border-left: 0.03rem solid #FF4F89;
}
.line-bottom{
    padding-top: 0.4rem;
}
.dot{
    width: 0.41rem;height: 0.41rem;border-radius: 50%;background: #999;
    position: absolute;top: 0;left: -0.22rem;
}
.current .dot{
    background: #FF4F89;
}
.line-bottom .dot{
    bottom: 0;top: auto;
}
.step{
    font-size: 0.3rem;height: 0.41rem;line-height: 0.41rem;color: #999;
    margin-left: 0.33rem
}
.current .step{
    color: #FF4F89;
}
.bank{
    line-height: 0.4rem;font-size: 0.24rem;color: #999;margin-left: 0.33rem
}

.money{
    position: absolute;height: 0.4rem;line-height: 0.4rem;font-size: 0.24rem;color: #999;
    left: 0.33rem;top: 0.7rem;
}








