<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>我的方案</title>
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
    <link rel="stylesheet" href="js/search/full.css" />
    <link rel="stylesheet" type="text/css" href="css/commens.css">
    <link rel="stylesheet" href="css/myplain.css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="css/font/iconfont.js" ></script>
    <script type="text/javascript" src="js/rem.js" ></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
     <script type="text/javascript" src="lib/vue-scroller.js"></script>
  <!-- import stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
  <!-- import iView -->
  <script src="https://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="wrapper">
      <div class="top">
       <div class="head">
              <div class="title">我的方案</div>
              <div class="left" onclick="goback()">
                  <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-back-m"></use>
                  </svg>
              </div>
               <div class="right">
                   <span @click="edit(this)">新建</span>
               </div>
          </div>
      </div>
       <scroller ref="myscroller"
            :on-infinite="infinite"
            style="padding-top: 1.1rem">
              <div class="tabs change_list">
                <div class="love active_content">
                  <div v-for="item in plainList" class="card">
                    <p class="plainTitle">{{item.planName}}<span class="editText" @click="editshow(item)"><img class="edit" src="./images/my/edit.png" alt="">编辑</span> 
                      <span v-show="editshowdata" class="deleteImg" @click="deleteImg(item)">X</span></p>
                    <div v-for="plain in item.itemList ">                    
                         <p class="handName">{{plain.handName}}</p>
                             <ul class="ulflex"  >

                                  <li  v-for="plainItem in plain.handImgList" >
                                      <div class="img_show" :style="{backgroundImage:'url('+plainItem.url+')'}">
                                             {{plainItem.url?'':'无'}}
                                        </div>                  
                                  </li>
                              </ul>  
                    </div>              
                  </div>               
                </div>
              </div>
        </scroller>
      
      </div>
  </div>
    <script type="text/javascript">
      var vm=new Vue({
        el:"#app",
        data:function(){
          return ({
                  editshowdata:true,
                  plainList:[
                  ]
        })},
        methods:{
          editshow:function(item){
            var userId=2;
            localStorage.setItem('editplain',JSON.stringify(item));
            localStorage.setItem('userId',userId);//储存
            userId= localStorage.getItem('userId');//取出
            console.log(item)
           location.href="createPlainNew.html";

          },
          deleteImg:function(item){
            console.log(item.planId);
            this.plainList.splice(this.plainList.indexOf(item),1);
            console.log('delete',this.plainList)

          },
            edit:function (e) {

            },
          infinite:function(done){
             // $.ajax({  //逻辑和其它分页一样

             // })
          }

        },
        mounted:function(){
          var self=this;
            var plain={"planlist":[{"planId":1,"userId":4,"planName":"方案one","left1":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left2":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left3":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left4":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left5":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right1":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right2":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right3":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right4":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right5":null},
              {"planId":2,"userId":4,"planName":"方案two","left1":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left2":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left3":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left4":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","left5":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right1":"http://47.101.136.23:8888/group1/M00/00/00/rBNWdFvILtuAIFBqAAHwyVMj8Bs238.png","right2":null,"right3":null,"right4":null,"right5":null}]}
              var plainList=[];

              for(var pl in plain.planlist){          
                   var plan={
                   }
                   plan['planId']= plain.planlist[pl].planId;
                   plan['userId']= plain.planlist[pl].userId;
                    plan['planName']= plain.planlist[pl].planName;
                    plan['itemList']=[];
                    var handItem={};
                    var hands=[];
                    for(var i =1;i<=5;i++){
                      var hand={};
                      hand['url']=plain.planlist[pl]['left'+i]?plain.planlist[pl]['left'+i]:'';
                      hand['handName']='left'+i;
                      hands.push(hand);
                    }
                    // console.log('plainList',plainList)
                   var item={};
                    item['handName']="左手";
                    item['handImgList']=hands;                 
                    hands=[];
                    for(var i =1;i<=5;i++){
                      var hand={};
                      hand['url']=plain.planlist[pl]['right'+i]?plain.planlist[pl]['right'+i]:'';
                      hand['handName']='right'+i;
                      hands.push(hand);
                    }
                     var rightItem={};
                     rightItem['handName']="右手";
                     rightItem['handImgList']=hands;
                      plan['itemList'].push(item);
                     plan['itemList'].push(rightItem);
                     plainList.push(plan);
                     // console.log('plainList',plainList);
                      
                      console.log(plainList)
                
              }
              self.plainList=plainList;
            
              console.log("plainList",this.plainList)

        }
      })
    </script>
</body>

</html>
